---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageTextSection from "../components/ImageTextSection.astro";

const pageTitle = "Certificaciones";

const certificationsContent = `
    <h1 class="text-3xl font-bold mb-6 text-center">
      Mis Certificaciones y Formaciones
    </h1>
    <ul
      class="list-disc list-inside space-y-2 text-lg"
    >
      <li>Registros Akáshicos Máster Teacher</li>
      <li>Facilitadora Access Consciousness®</li>
      <li>Feng Shui para tu vida</li>
      <li>Cantos sagrados</li>
      <li>Maestra en el uso terapéutico del péndulo</li>
      <li>Sanación con rosas</li>
      <li>Ho'oponopono Certification</li>
      <li>Diplomado en Flores de Bach</li>
      <li>
        Diplomado en el origen energético de una enfermedad a través de los
        chakras
      </li>
      <li>Diplomado en Psicoterapia por métodos naturales</li>
      <li>Instructora de Yin Yoga</li>
      <li>Facilitadora y guía en Yoga de la Risa</li>
      <li>Facilitadora y guía en el camino de la sanación ancestral</li>
      <li>Maestra de ceremonias holísticas y guía de expansión espiritual</li>
      <li>Diplomado en Técnica Biomagnética</li>
      <li>Terapeuta en sanación energética y métodos alternativos</li>
      <li>Coach de vida y espiritual</li>
      <li>Angeóloga</li>
      <li>Mediumship</li>
      <li>ThetaHealing® Master Certification</li>
      <li>Moon Mother Womb Blessing – Divinidad Femenina</li>
      <li>
        Maestra de meditación en sanación cuántica, divinidad sonora y conexión
        intuitiva
      </li>
      <li>Inner Power Method™ Certification</li>
      <li>Mindfulness Teacher</li>
      <li>Reiki Arcangélico Master Teacher</li>
      <li>Magnified Healing® Teacher</li>
      <li>
        Heal Your Life® Teacher Certification (filosofía de Louise L. Hay)
      </li>
    </ul>
`;
---

<BaseLayout title={pageTitle}>
  <ImageTextSection
    imageUrl="/images/holistica-20.jpg"
    content={certificationsContent}
    enableStickyImage
  />
</BaseLayout>
