---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Lectoras Certificadas";
---

<BaseLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Contenido de la página de Lectoras Certificadas próximamente.</p>
</BaseLayout>
