---
import EventCard from "./EventCard.astro";

interface Event {
  date: string;
  title: string;
  imageUrl: string;
  linkUrl: string;
  size?: "small" | "large" | "featured"; // Individual event can override default
}

interface Props {
  title: string;
  events: Event[];
  defaultCardSize: "small" | "large" | "featured"; // Allow featured as a default for a whole section
  useLightBackground?: boolean;
}

const {
  title,
  events,
  defaultCardSize,
  useLightBackground = true,
} = Astro.props;
---

<div
  class={["py-12 px-4", useLightBackground ? "bg-light" : "bg-light2"].join(
    "container mx-auto px-4 py-8"
  )}
>
  <h2 class="text-3xl font-bold text-primary mb-8 text-center md:text-left">
    {title}
  </h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6"
  >
    {
      events.map((eventItem) => (
        <EventCard event={eventItem} size={eventItem.size || defaultCardSize} />
      ))
    }
  </div>
</div>
