---
interface Props {
  imageUrl: string;
  content: string | HTMLElement[]; // Allows for HTML content
  reverseOrder?: boolean;
  useLightBackground?: boolean;
  enableStickyImage?: boolean;
}

const {
  imageUrl,
  content,
  reverseOrder = false,
  useLightBackground = false,
  enableStickyImage = true,
} = Astro.props;
---

<div
  class:list={[
    "flex",
    "flex-col",
    "md:flex-row",
    reverseOrder && "md:flex-row-reverse",
    "items-center",
    enableStickyImage && "md:items-start",
    "py-12",
    "px-6 md:px-24",
    useLightBackground ? "bg-light" : "bg-light2",
  ]}
>
  <div
    class:list={[
      "w-full",
      "md:w-1/2",
      "mb-8",
      "md:mb-0",
      enableStickyImage && "md:sticky",
      enableStickyImage && "md:top-24",
      "intersect:motion-preset-blur-up",
      "motion-delay-200",
    ]}
  >
    <img
      src={imageUrl}
      alt="Image for section"
      class="rounded-lg shadow-lg w-full h-auto object-cover max-h-[720px]"
    />
  </div>
  <div
    class:list={[
      "w-full",
      "md:w-1/2",
      reverseOrder ? "md:pr-12" : "md:pl-12",
      "intersect:motion-preset-blur-up",
      "motion-delay-400",
    ]}
  >
    <div class="prose max-w-none" set:html={content} />
  </div>
</div>
